.main-background {
  background-color: rgb(213, 188, 236);
}

.image-background {
  background-color: lightsalmon;
  padding: 20px;
}

.profile-pic {
  display: block;
  margin: 0 auto;
  border-color: rgb(209, 112, 77);
  border-width: 10px;
  border-style: solid;
  border-radius: 50%;
  max-width: 100%;
  height: auto;
}

.h1-background {
  background-color: rgb(213, 188, 236);
  margin-top: -40px;
  margin-bottom: -40px;
}
.h1-style {
  font-family: Impact, sans-serif;
  font-size: 50px;
  color: rgba(206, 158, 95, 0.884);
  padding: 10px 10px 10px 10px;
  text-align: center;
}

@media (max-height: 350px) {
  .h1-style {
    font-family: Impact, sans-serif;
    font-size: 30px;
    color: rgba(206, 158, 95, 0.884);
    padding: 10px 10px 10px 10px;
    text-align: center;
  }
}
.p1-background {
  background-color: lightsalmon;
  padding-top: 30px;
  padding-bottom: 30px;
}

.p1-style {
  font-family: 'Times New Roman', Times, serif;
  font-size: 18px;
  font-weight: bold;
  color: white;
  text-align: center;
}

@media (max-height: 350px) {
  .p1-style {
    font-family: 'Times New Roman', Times, serif;
    font-size: 14px;
    font-weight: bold;
    color: white;
    text-align: center;
  }
}
.about-me-div {
  border-color: salmon;
  border-style: solid;
  width: 800px;
  height: 350px;
  border-width: 20px;
  border-radius: 20px;
  margin-right: 1200px;
  margin-top: 50px;
}

.about-me-header {
  color: rgba(56, 0, 109, 0.884);
  font-family: 'Times New Roman', Times, serif;
  font-size: 30px;
  text-align: left;
  padding-left: 40px;
  padding-top: 10px;
}

@media (max-height: 350px) {
  .about-me-header {
    color: rgba(56, 0, 109, 0.884);
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    text-align: left;
    padding-left: 40px;
    padding-top: 10px;
  }
}

.about-me {
  color: rgba(56, 0, 109, 0.884);
  font-family: 'Times New Roman', Times, serif;
  font-size: 20px;
  text-align: left;
  padding-left: 40px;
}

@media (max-height: 350px) {
  .about-me {
    color: rgba(56, 0, 109, 0.884);
    font-family: 'Times New Roman', Times, serif;
    font-size: 14px;
    text-align: left;
    padding-left: 40px;
  }
}

.blog-div {
  border-color: salmon;
  border-style: solid;
  border-width: 20px;
  border-radius: 20px;
  width: 500px;
  height: 350px;
  margin-right: 100px;
  margin-top: -390px;
  margin-left: 1200px;
}

@media (max-width: 1000px) {
  .blog-div {
    border-color: salmon;
    border-style: solid;
    border-width: 20px;
    border-radius: 20px;
    width: 500px;
    height: 350px;
    margin-right: 1200px;
    margin-top: 30px;
    margin-left: 3px;
  }
}

.blog-header {
  color: rgba(56, 0, 109, 0.884);
  font-family: 'Times New Roman', Times, serif;
  font-size: 30px;
  text-align: center;
  padding-left: 0px;
  margin-bottom: -30px;
}

@media (max-height: 350px) {
  .blog-header {
    color: rgba(56, 0, 109, 0.884);
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    text-align: center;
    padding-left: 0px;
    margin-bottom: -30px;
  }
}

.blog-para {
  padding-bottom: 30px;
}

.blog-link1 {
  font-family: 'Times New Roman', Times, serif;
  color: white;
  font-size: 20px;
  padding-left: 0px;
  padding-bottom: 5px;
}

@media (max-height: 350px) {
  .blog-link1 {
    font-family: 'Times New Roman', Times, serif;
    color: white;
    font-size: 10px;
    padding-left: 0px;
    padding-bottom: 5px;
  }
}

.blog-link {
  font-family: 'Times New Roman', Times, serif;
  color: white;
  font-size: 20px;
  padding-left: 0px;
  padding-bottom: 5px;
  padding-top: 5px;
}

@media (max-height: 350px) {
  .blog-link {
    font-family: 'Times New Roman', Times, serif;
    color: white;
    font-size: 10px;
    padding-left: 0px;
    padding-bottom: 5px;
    padding-top: 5px;
  }
}

.blog-index {
  list-style-type: none;
  margin: 0;
  padding-left: 90px;
  padding-right: 90px;
  width: 320px;
}

.li-a {
  display: block;
  color: white;
  background-color: lightsalmon;
  padding: 8px 16px 8px 16px;
  text-align: center;
  border: 1px solid black;
}

.list-a:hover {
  background-color: #555;
  color: white;
  padding: 8px 16px;
}
.question {
  color: darkred;
}

.answer {
  color: darkblue;
}

.tech-background {
  background-color: whitesmoke;
}

.tech-header {
  text-align: center;
  background-color: black;
  color: white;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 80px;
}

.tech-div {
  margin-left: 40px;
  margin-bottom: 80px;
}

.tech-button {
  background-color: #3396d8;
  color: white;
  font-size: 40px;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.tech-para {
  font-family: 'Courier New', Courier, monospace;
  font-size: 20px;
  font-weight: bold;
}

@media (max-width: 900px) {
  .tech-header {
    text-align: center;
    background-color: black;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 60px;
  }
  .tech-button {
    background-color: #3396d8;
    color: white;
    font-size: 30px;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  .tech-para {
    font-family: 'Courier New', Courier, monospace;
    font-size: 14px;
    font-weight: bold;
  }
}
